body
{
	box-sizing: border-box;
}
h1{
	text-align: center;
}
div{
	background-color: gray;
	border: 1px solid black;
	width:48%;
	margin:10px 10px 10px 10px;
}
div.target
{
	text-align:center;
	background-color:red;
	width:100px;
	position: relative;
	left:83%;
}

@media(min-width: 992px)
{
 
}
@media(min-width:768px ,max-width: 991px)
{
.Column1
{

}
.Column2
{
	float:right;
}
.Column3
{
	clear:both;
}
}
@media(max-width: 767px)